<?xml version="1.0"?>
<dataconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <defaultDatabase>Sqlserver</defaultDatabase>
  <ListConn>



    <connectionStrings name="Sqlserver" providerName="System.Data.SqlClient" connectionString="Data Source=172.16.23.103;Initial Catalog=WMS_SHYJ_WCS;User ID=sa;Password=Ctmc-sf2018;" />
    
    
  </ListConn>
</dataconfig>